/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root{
    /* Colores primarios */
--brightOrange: hsl(31, 77%, 52%);
--darkCyan: hsl(184, 100%, 22%);
--veryDarkCyan: hsl(179, 100%, 13%);

/*  Colores neutrales */
--transparentWhite: hsla(0, 0%, 100%, 0.75);
--veryLightGray: hsl(0, 0%, 95%);
--lexend-family:'Lexend Deca', sans-serif;
--bigShoulders-family: 'Big Shoulders Display', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: var(--lexend-family);
    background: var(--veryLightGray);
    overflow:hidden;
}
.container{
    width: 325px;
    margin: 87px auto 40px;
    border-radius: 8px;
    overflow: hidden;
}
article{
    width: 100%;
    height: 440px;
    padding: 48px;
}
/* Mobile */
#sedan{
    background-color: var(--brightOrange);
    
}
#suvs{
    background-color: var(--darkCyan);
}

#luxury{
    background-color: var(--veryDarkCyan);
}

img{
    margin-bottom: 36px;
}
h2{
    color: var(--veryLightGray);
    font-family: var(--bigShoulders-family), cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
p{
    color: var(--transparentWhite);
    line-height: 25px;
    margin-bottom: 25px;
}

button{
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--veryLightGray);
    font-family: var(--lexend-family);
    font-size: 15px;
}
#btn-sedan{
    color: var(--brightOrange);
}
#btn-suv{
    color: var(--darkCyan);
}

#btn-luxury{
    color: var(--veryDarkCyan);
}


button:hover{
    border: 2px solid var(--veryLightGray);
}

#btn-sedan:hover{
    background-color: var(--brightOrange);
    color: var(--veryLightGray);
}

#btn-suv:hover{
    background-color: var(--DarkCyan);
    color: var(--veryLightGray);
}
#btn-luxury:hover{
    background-color: var(--veryDarkCyan);
    color: var(--veryLightGray);
}

.atribution{
    text-align: center;
    font-size: 15px;
}
/* Desktop */
@media (min-width:944px) {
    .container{
        width: 924px;
        display: flex;
        margin-top: 170px;
    }

    article{
        height: 500px;
    }
    
    p{
        margin-bottom: 80px;
    }
}
